body {
    background-color: rgb(197, 190, 190);
}

.Nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43281c;
    color: aliceblue;
}

.coffee_logo {
    height: 45px;
}

.Item-and-Name-block {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    /* border: solid; */
    height: 60vh;
    padding-top: 40px;
    /* background-color: aqua; */
}

.Item-card {
    display: flex;
    /* border: solid; */
    flex-direction: column;
    height: 50vh;
    width: 60vh;
    border-radius: 10px;
    background-color: #eee1d5;
    padding-right: 50px;
}

.Item-card-2 {
    display: flex;
    justify-content: space-between;
    /* border: solid; */
    /* width: 60vh; */
}

.Item-card-1 {
    margin-left: 10px;
    color: #43281c;
}

.Item-card-1-1 {
    display: flex;
    justify-content: space-around;
    color: #43281c;
    /* border: solid; */
    width: 20vh;

}

.Name-and-payment-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: solid; */
    height: 50vh;
    width: 70vh;
    padding-left: 50px;
    /* background-color: #eee1d5; */
}

.Name-card {
    background-color: #eee1d5;
    color: #885a2d;
    border-radius: 10px;
    padding-left: 12px;
    /* margin-left: 30px; */

}

.form-card {
    position: relative;
    margin-bottom: 20px;
}

.input-card {
    background-color: rgba(0, 0, 0, 0);
    border: 2px #885a2d solid;
    padding: 8px;
    border-radius: 100px;
    width: 80%;
}

.label-card {
    color: #885a2d;
    background-color: #eee1d5;
    font-size: 13px;
    position: absolute;
    left: 25px;
    top: -6px;
    /* padding: 0 2px; */
}

.payment-card {
    background-color: #eee1d5;
    margin-top: 20px;
    color: #885a2d;
    border-radius: 10px;
    padding-left: 12px;
}

/* #card-number {
    width: 19%;
} */
#cvv {
    width: 50%
}

.footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* border: solid; */
    height: 20vh;
    /* flex-direction: row; */
}

.footer-card-1 {
    display: flex;
    justify-content: space-between;
    /* flex-directio: row; */
    /* border: solid; */
    width: 60vh;

}

.footer-box {
    display: flex;
    justify-content: center;
}

.btn {
    width: 90%;
    height: 40%;
    padding: 10px;
    text-decoration: solid;
    background-color: #c4a587;
    border-radius: 70px;
    color: black
}

span {
    color: black
}

.vl {

    border-bottom: solid #c4a587;
    height: 3px;

}


/* /*
/* .Item-card-2 { */
/* display: flex; */
/* justify-content: space-between; */
/* border: solid; */
/* flex-direction: row; */
/* /* justify-content: space-between; */
/* } */
/* 
.Item-card-1-1 {
    /* border: solid; */
/* } */

/* .Name-card {
    display: flex;
    border: solid;
    color: black;
} */